html{
    margin: 1% 25%;
    font-family: Lato;
}

body{
	display: block;
	background: #2c3e50;
	color: #ecf0f1;
    padding: 25px;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

h5 {
	text-align: center;
	font-size: 1em;
}

input {
    display: block;
    margin: 10px auto 0 auto;
    position: relative; 
    border: none;
	background: #ecf0f1;
	color: #2c3e50;
    font-size: .7em;
}

textarea {
    font-family: Lato;
    border: none;
	background: #ecf0f1;
	color: #2c3e50;
    font-size: .7em;
    box-sizing: border-box;
}

.story {
    margin-top: 10px;
    padding: 15px;
}

#inputTitle{
	display: block;
	max-width: 600px;
	min-width: 75%;
	margin: 0 auto;
	position: relative;
    font-size: 1em;
}

#inputStory{
	display: block;
	margin: 0 auto;
	position: relative;
}


.button:hover{
    background: #FFFFFF;
    color: #000000;
}

.title{
    font-weight: bold;
}
.date{
    font-style: italic;
    color: #456;
    font-size: 0.7em;
}


#story{

}

#votes{
	display:inline-block;
	position: relative;
	top: -10px;
	left: -60px;
}

.orangeUpvote, .blueDownvote, .grayUpvote, .grayDownvote{
	display: inline-block;
	background-image: url(../pics/icons.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 13px;
	margin: 5px;
}

.orangeUpvote{
	background-position: 0px 0px;
}
.blueDownvote{
	background-position: 0px -13px;
}
.grayUpvote{
	background-position: -15px 0px;
}
.grayDownvote{
	background-position: -15px -13px;
}
