body{
	display: block;
	background: #2c3e50;
	color: #ecf0f1;
}

h3 {

}

#inputTitle{
	display: block;
	max-width: 600px;
	min-width: 50%;
	margin: 0 auto;
	position: relative;
}

#inputStory{
	display: block;
	max-width: 600px;
	min-width: 50%;
	margin: 0 auto;
	position: relative;
}

#button{
	max-width: 50px;
}

#title{

}

#story{

}